.herosec {
  height: calc(100vh - 80px);
  background: linear-gradient(to bottom right, #130f40, #04001f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: -1;
}

.herosec > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.herosec > div > div > h1 {
  font-weight: 700;
  background: -webkit-linear-gradient(#a538e3, #cf22ca 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 620px) {
  .herosec {
    height: calc(100vh - 110px);
  }
}
