.herosec {
    height: calc(100vh - 80px);
    background: #130F40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.3);
}